<div class="col-sm-8 blog-main">
  <!-- <%= paginate @blogs %> -->
    <% @news.each do |new_item| %>
    <%= p news_parser new_item %>
    <br><hr>
  <% end %>


   <!-- <%= paginate @blogs %> -->


     </div>
