<h1>  Welcome to Portfolio's index </h1>

<% @items.each do |item| %>
  <p><%=  item.title %></p>
  <p><%=  item.subtitle %></p>
  <p> <%=  item.body %> </p>
  <p> <%= image_tag item.main_image %></p>
<% end %>
