<div class="col-sm-3 blog-sidebar">
         <div class="sidebar-module sidebar-module-inset">
           <h4>About</h4>
           <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         </div>



         <div class="sidebar-module">
           <h4>Elsewhere</h4>
           <ol class="list-unstyled">
             <li class="social_links"><a href="https://github.com/gulatigaurav"><%=fa_icon "github"%></a></li>
             <li class="social_links"><a href="https://www.instagram.com/gauravgulati9c/"><%=fa_icon "instagram"%></a></li>
             <li class="social_links"><a href="https://www.facebook.com/gaurav.gulati.7165"><%=fa_icon "facebook"%></a></li>
           </ol>
         </div>
       </div><!-- /.blog-sidebar -->
