<div class="blog-header">

  <div class="container">
    <h1 class="blog-title">Gaurav Tech Blog</h1>
    <p class="lead blog-description">Leading technologies presented simply</p>
    <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary " if logged_in?(:site_admin)  %>

  </div>
</div>
