
<h1> About me</h1>

<p> Gaurav Gulati, an individual who was always fascinated about the world wide web always wanted to
learn how complex web applications were built. But he did not find anything during his schooling that he can call as
his passion. With the guidance of others he started pursuing his Btech. Two years passed and he still was at directionless.
But destiny took him to the beautifull door of Ruby on Rails. He was quite fascinated by the popularity and thr functionality that RoR provided.
Later on, he started to develop web apps using RoR and still enjoys it.
</p>
<blockquote>
    - Garvit Aggarwal, Close friend &  Owner of GG Cafes Pvt. Ltd.
</blockquote>
