<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p> <%= number_to_phone "5555555555" %> </p>
<p> <%= number_to_currency "55" %> </p>
<p> <%= number_with_delimiter "551243234143" %> </p>
